ng-include(src="'/partials/common/memory_header.html'")

.memories_form.container
  h2 {{title}}
  ng-include(src="'/partials/memories/_form.html'")
  button.btn.btn-default(ng-click="onSubmit()") Submit