ng-include(src="'/partials/common/memory_header.html'")
.container
  h2 More Actions:
  hr/
  a.btn.btn-primary(ng-click='forceLoadAll()') Force load all tables from the server
  hr/
  a.btn.btn-primary(ng-click='forceSaveAll()') Force save all tables from the server
