span.col-90
  i.fa.fa-calendar.fa-fw.fa-sr
  {{item.date | monthDay}}
span.rest-90
  span.label.label-info.hidden-inline-xs.space-right-xs(ng-if='item.categories.length > 0') {{item.categories | joinBy}}
  |&nbsp;
  {{item.title}}